
body  {
    margin: auto;
    font-family: Roboto;
    
}

.header  {
    background-color: #1f2937;
    display: flex;
}



.hlogo  {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 150px;
    flex: 3;
    
}

.hlink  {
    font-size: 18px;
    color: #E5E7EB;
    flex: .5;
    margin-right: 50px;
    
}

#awesome-text{  
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
    width: 480px;
}

#info-text{
    font-size: 24px;
    color: #E5E7EB;
    width: 480px;
    margin-top: 0px;
    margin-bottom: 15px;
}

button{
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 15px;
    border-style: none;
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin-top: 0px;
}

.main-header{
    display: flex;
    background-color: #1f2937;
    padding-bottom: 150px;
}

.sub-header{
    display: flex;
    padding-top: 80px;
    padding-left: 145px;
    flex-direction: column;
}


.photo{
    background-color: grey;
    color: #E5E7EB;
    flex: 1;
    border-radius:10px;
    margin-top: 120px;
    margin-left: 25px;
    margin-right: 80px;
    height: 300px;
}

.p-image{
    text-align: center;
    margin-top: 120px;
}

.main{
    display: flex;
    flex-direction: column;

}

.info{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.box-column{
    display: flex;
    flex-direction: row;
}

.box{
    border-style: solid;
    border-color: #3882f6;
    border-radius: 25px;
    border-width: 5px;
    height: 350px;
    margin: 25px;
    flex: 1;
    margin-bottom: 0px;
    
}

.div-text{
    display: flex;
    text-align: center;

}
.box-text{
    flex: 1;
    margin-top: 25px;
    color: grey;
}

.quote-div{
    display: flex;
    background-color:#E5E7EB;
    flex-direction: column;

}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 150px;
    padding-bottom: 10px;
    
}

.quoted{
    font-size: 36px;
    color: #1f2937;
    text-align: right;
    padding-right: 180px;
}